.button {
    width: 80%;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 28px;
    margin: 5px;

    &--solid {
        background: $hover-color;

        &:hover {
            background: darken($hover-color, 10%);
        }

        a {
            color: #fff;
        }
    }

    &--ghost {
        border: 1px solid $text-accent;

        &:hover {
            background: $dark-overlay-color;
        }

        a {
            color: #fff;
        }
    }
}