$main: #25204a;
$text-color: #fff;
$violet-color: #776bb7;
$golden-color: #ae8932;
$golden-gradient: linear-gradient(#cfa747, #b08a33, #cfa747);
$light-golden-color: lighten(#ae8932, 20%);
$purple-color: #540965;
$slider-dots-color: #694fbf;
$bg-color: #140721;
$base-font: 16px;

@mixin fluid-font($min-font-size: 12px,
  $max-font-size: 21px,
  $lower-range: 320px,
  $upper-range: 500px) {
    font-size: calc(#{$min-font-size} + #{(
  ($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))
  }

  * ((100vw - #{$lower-range}) / #{(
  ($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))
  }

  ));

  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size !important;
  }

  @media screen and (min-width: $upper-range) {
    font-size: $max-font-size !important;
  }
}

// Using in scss:
// @include fluid-font(37px, 45px, 1200px, 1400px);
@import "./custom_bootstrap";

// elements
@import "./elements/grid";
@import "./elements/buttons";
@import "./elements/typography";
@import "./elements/hamMenu";
@import "./elements/navbar";


// blocks
@import "./blocks/mainSlider";
@import "./blocks/gamesRow";
@import "./blocks/reviews";
@import "./blocks/topWinners";
@import "./blocks/jackpotCounter";
@import "./blocks/features";
@import "./blocks/download";
@import "./blocks/footer";
@import "./blocks/promotion";


// delete focus outline

html {
  scroll-behavior: smooth;
}

*:focus {
  outline: 0;
}

body {
  position: relative;
  background: $bg-color;
  color: $text-color;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $text-color;
  transition: 0.2s;

  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  list-style-type: none;
}


// Overwriting Slick slide height
.slick-track {
  display: flex;
}

.slick-track .slick-slide {
  width: 100vw;
  display: flex;
  height: auto;
}

.purple-border {
  border: 2px solid $purple-color;
}