@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

// TODO: rename variable with proper names
$main: #25204a;
$text-color: #fff;
$text-accent: #776bb7;
$hover-color: #ae8932;
$base-font: 16px;

@import "./custom_bootstrap";

// blocks
@import "./blocks/navbar";
@import "./blocks/fullScreenNav";
@import "./blocks/gamesRow";

// elements
@import "./elements/buttons";
@import "./elements/typography";


body {
  background: $main;
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $text-color;
  transition: .2s;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

// Overwriting Slick slide height
.slick-track {
  display: flex;
}

.slick-track .slick-slide {
  display: flex;
  height: auto;
}