.features {
    &__hero {
        max-width: 550px;
        width: 100%;
    }
}

.feature {
    position: relative;
    &__block {
        display: block;
        width: 100%;
        height: auto;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            font-size: 14px;            
        }
        .subheading {
            @include fluid-font(20px, 30px, 468px, 992px);
        } 
    }
}

.feature__block__hidden {
    opacity: 0;
    width: 80%;
    font-size: 14px;

    @media screen and (max-width: 992px) {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        opacity: 1;
        padding-bottom: 20px;
    }
}

.feature__block:hover~.feature__block__hidden {
    transition: .5s;
    opacity: 1;
}