.footer {
    &__column {
        color: grey;

        li {
            line-height: 1;
        }
    }

    &__heading {
        font-size: 1.2rem;
        line-height: 1;
        font-weight: bold;

        @media screen and (max-width: 992px) {
            font-size: 1rem
        }
    }

    &__link {
        color: grey;

        @media screen and (max-width: 992px) {
            font-size: 0.8rem;
        }

        @media screen and (max-width: 576px) {
            font-size: 1.1rem;
        }

        &:hover {
            color: $golden-color;
        }
    }
}

.bottom-bar {
    background: #000;

    .deposit-methods {
        width: 480px;
    }
}