$background--color:#1e2023;
$icon--color:#1e2023;
$hamburger-color:#fff;
$hamburger-color--active:$light-golden-color;
$transition--length: .8;
$size: 30px;

//Default state -------------

// Hamburger icon 
.menu-icon {
    height: $size;
    width: $size*2;
    z-index: 2;
    left: 50px;
    top: 30px;
    cursor: pointer;

    &__line {
        height: 2px;
        width: $size;
        display: block;
        background-color: $hamburger-color;
        margin-bottom: 4px;
        transition: transform .2s ease, background-color .5s ease;
    }

    &__line-left {
        width: $size / 2;
    }

    &__line-right {
        width: $size / 2;
    }
}

// Navigation ----------------
.nav {
    $transition--easing: cubic-bezier(.77, 0, .175, 1);
    $width: 100vw;
    $height: 100vh;
    position: fixed;
    z-index: 1;

    &:before,
    &:after {
        content: "";
        position: fixed;
        width: $width;
        height: $height;
        background: rgba(#000, .5);
        z-index: -1;
        transition: transform $transition--easing $transition--length + s;
        transform: translateX(0%) translateY(-100%);
    }

    &:after {
        background: rgba($main, 1);
        transition-delay: 0s;
    }

    &:before {
        transition-delay: .1s;
    }

    &__content {
        position: fixed;
        top: 50%;
        transform: translate(0%, -50%);
        width: 100%;
        font-size: 4.5rem;
        line-height: 1;
        font-weight: bold;

        @media screen and (max-width: 1920px) {
            font-size: 3.5vw;
        }

        @media screen and (max-width: 1200px) {
            padding: 0 15px;
            font-size: 4.5vw;
        }
    }

    &__list-item {
        position: relative;
        display: none;

        a {
            color: transparent;
            cursor: pointer;
        }
    }
}

//Active state ------------------------
body.nav-active {

    // Hamburger icon 
    .menu-icon {
        &__line {
            background-color: $hamburger-color--active;
            transform: translateX(0px) rotate(-45deg);
        }

        &__line-left {
            transform: translateX(1px) rotate(45deg);
        }

        &__line-right {
            transform: translateX(13px) rotate(45deg);
        }
    }

    // Navigation --------------------

    .nav {

        &:before,
        &:after {
            transform: translateX(0%) translateY(0%);
        }

        &:after {
            transition-delay: .1s;
        }

        &:before {
            transition-delay: 0s;
        }

        &__list-item {

            // outline font Fx
            a {
                color: $main;
                transition: all .3s ease;
                text-shadow: -1px -1px 0 #fff,
                    1px -1px 0 #fff,
                    -1px 1px 0 #fff,
                    1px 1px 0 #fff;

                // outline font:hover Fx
                &:hover {
                    color: #fff;
                    text-shadow: none;
                }
            }
        }
    }
}

// @-webkit-keyframes slide-down {
//     0% {
//         opacity: 0;
//         -webkit-transform: translateY(-100%);
//     }

//     100% {
//         opacity: 1;
//         -webkit-transform: translateY(0);
//     }
// }

// @-moz-keyframes slide-down {
//     0% {
//         opacity: 0;
//         -moz-transform: translateY(-100%);
//     }

//     100% {
//         opacity: 1;
//         -moz-transform: translateY(0);
//     }
// }