$dark-violet-color: darken($violet-color, 30%);
$dark-overlay-color: linear-gradient(to bottom, rgba(79, 37, 79, 0.8) 1%, rgba(68, 41, 81, 1) 100%);


.games-filter {
    &__item {
        cursor: pointer;
        transition: 0.2s;

        img {
            -webkit-filter: brightness(1);
            filter: brightness(1);
        }

        &:hover {
            color: $text-color;

            img {
                -webkit-filter: brightness(4);
                filter: brightness(4);
            }
        }
    }
}

.games-filter-container {
    .game-block {
        display: inline-block;
        position: relative;
        margin: 10px !important;

        &__winners {
                position: relative;
                padding-bottom: 55px;
        }

        &__image {
            padding: 8px;            
            border-radius: 5px;
        }

        .overlay {
            display: none;            
            border-radius: 5px;
            text-align: center;
            .button--small {
                width: 70%;
                @media screen and (max-width: 992px) {
                    width: 80%;
                }
                 @media screen and (max-width: 768px) {
                     width: 70%;
                }
                 @media screen and (max-width: 468px) {
                     width: 80%;
                }
            }
        }

        &:hover .overlay {
            width: 100%;
            height: 100%;
            background: $dark-overlay-color;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            // padding-top: 1.2vw;

            @media screen and (max-width: 992px) {
                font-size: 14px;
            }
            @media screen and (max-width: 768px) {
                font-size: 15px;
            }
             @media screen and (max-width: 468px) {
                 font-size: 14px;
             }
             &.overlay--withBar {
                 padding-top: 1.5vw;
             }
        }
        

       

        // .jackpot-winners-container {
        //     .game-block {
        //         &:hover .overlay {
        //             padding-top: 1.2vw;
        //             justify-content: start;
        //         }
        //     }
        // }


        .jackpot-winners {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: $golden-color;
            border-radius: 0 0 5px 5px;

            .game-block {
                &:hover .overlay {
                    justify-content: start;
                    padding-top: 1.2vw;
                }
            }

            p {
                color: $text-color;
            }
            &__name {
                font-size: 1rem;
            }
            &__amount {
                font-size: 1.5rem;
                line-height: 1.2;
                font-weight: bold;
            }
            
        }
    }
}


.new-game {
    &::before {
        position: absolute;
        left: 5%;
        content: url(../images/games-filter/new.png);
        width: 50px;
        height: 50px;
    }
}

