$dark-violet-color: darken($violet-color, 30%);
$dark-overlay-color: linear-gradient(to bottom, rgba(79, 37, 79, 0.8) 1%, rgba(68, 41, 81, 1) 100%);


.games-filter {
    &__item {
        color: $violet-color;
        cursor: pointer;

        &:hover {
            color: $text-color;

            img {
                -webkit-filter: brightness(3);
                filter: brightness(3);
            }
        }
    }
}

.games-filter-container {
    .game-block {
        display: inline-block;
        position: relative;
        margin: 10px !important;

        &__image {
            padding: 8px;            
            border-radius: 5px;
        }

        .overlay {
            display: none;            
            border-radius: 5px;
            text-align: center;
        }

        &:hover .overlay {
            width: 100%;
            height: 100%;
            background: $dark-overlay-color;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}


.new-game {
    &:before {
        position: absolute;
        left: 5%;
        content: url(../images/games-filter/new.png);
        width: 50px;
        height: 50px;
    }
}