.jackpot-counter {
    height: 50%;
    background: $bg-color url(../images/jackpot-bg.png) center / contain no-repeat;
    &--text {
        letter-spacing: 5;
    }
    &--amount {
        font-size: 85px;
        letter-spacing: 10;
        text-shadow: 2px 4px 6px rgba(0,0,0,0.3);
        color: $light-golden-color;
        &::before {
            content: "$";
        }
    }
}

.jackpot-winners {
    p { 
        font-size: 30px;
        color: $violet-color;
    }
}