.promotion {
    &__image {
        max-width: 150px;
    }
    &__subheading {
        text-transform: uppercase;
    }
    &__feature {
        &__heading {
            font-size: 1.2rem;
        }
        &__desc {
            font-size: 0.9rem;
            line-height: 1.4;
        }
    }   
}

.promotion-slider-nav {
    @media screen and (min-width: 1920px) {
        max-width: 1920px;
        margin: 0 auto;
    }
}