.top-winners {
  &__row {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
    @media screen and (max-width: 992px) {
      flex-direction: row;
      overflow-x: scroll;
    }
  }
    &__winner {
      min-width: 280px;
      &__icon {
        max-width: 70px;
        border-radius: 50%;
      }
      &__amount {
          color: $golden-color;
          font-size: 1.5rem;
          line-height: 1;
      }
    }
    // &::before {
    //   content: url(../images/reviews/separator.png);
    //   position: absolute;
    //   top: 5%;
    //   max-width: 26px; 
    //   width: 100%;
    // }
}