.button {
    display: inline-block;
    padding: 0.6rem 3rem;
    border-radius: 50px;
    margin: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;

    &--solid {
        background: $golden-color;

        &:hover {
            background: darken($golden-color, 5%);
        }

        a {
            color: #fff;
        }

        &--border {
            border: 2px solid lighten($golden-color, 30%);
        }
    }



    &--ghost {
        border: 2px solid $violet-color;

        &:hover {
            background: rgba(0, 0, 0, .8);
        }

        a {
            color: #fff;
        }
    }
}