.button {
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 50px;
    margin: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    cursor: pointer;   
    color: #ffffff; 

    &--small {
        padding: 0.5rem 2rem;
        border: none;
    }

    &--solid {
        background: $golden-gradient;

        &:hover {
            background: $golden-color;
        }  

        &--border {
            border: 2px solid lighten($golden-color, 30%);
        }
  
        span {
            @include fluid-font(0.8rem, 1.3rem, 992px, 1400px);
        }
   
    }

    &--purple {
        background: $purple-color;

        &:hover {
            background: darken($purple-color, 5%);
        }      

        &--border {
            border: 2px solid lighten($purple-color, 30%);
        }
    }

    &--ghost {
        background: rgba($purple-color, 0.4);
        border: 2px solid $violet-color;

        &:hover {
            background: rgba($purple-color, 1);
        }     
    }

    &--redeem {
        margin: 0;
        padding: .5rem 1rem;
        background: $violet-color;
        border: 1px dashed #fff;
        border-radius: 5px;
        font-family: 'Colus', sans-serif !important;

        span {
            @include fluid-font(1rem, 1.3rem, 992px, 1400px);
        }
    }

    a {
        color: #ffffff;
    }
}

// Slick slider dots navigation
// Slick dots 
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    bottom: -25px;
}

.slick-dots .slick-active {
    background: $slider-dots-color;
    border-radius: 50%;
}

.slick-dots li button:before {
    border: 2px solid $slider-dots-color;
    border-radius: 50%;
    line-height: 19px;
    opacity: 0.55;
    content: " ";
}

.slick-dots li.slick-active button:before {
    font-size: 20px;
    border: none;
    top: 3px;
    color: $slider-dots-color;
}

