.button {
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 50px;
    margin: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    cursor: pointer;

    &--small {
        padding: 0.5rem 2rem;
    }

    &--solid {
        background: $golden-gradient;

        &:hover {
            background: $golden-color;
        }

        a {
            color: #fff;
        }

        &--border {
            border: 2px solid lighten($golden-color, 30%);
        }
    }

    &--purple {
        background: $purple-color;

        &:hover {
            background: darken($purple-color, 5%);
        }

        a {
            color: #fff;
        }

        &--border {
            border: 2px solid lighten($purple-color, 30%);
        }
    }

    &--ghost {
        border: 2px solid $violet-color;

        &:hover {
            background: rgba($purple-color, 0.8);
        }

        a {
            color: #fff;
        }
    }
}

// Slick slider dots navigation
// Slick dots 
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    bottom: -50px;
}

.slick-dots .slick-active {
        background: $slider-dots-color;
        border-radius: 50%;
}

.slick-dots li button:before {
    border: 2px solid $slider-dots-color;
    border-radius: 50%;
    line-height: 19px;
    opacity: 0.55;
    content: " ";
}

.slick-dots li.slick-active button:before {
    font-size: 23px;
    border: none;
    top: 3px;
    color: $slider-dots-color;
}

