/*
!!! Please keep transition: 0.45s
for main and aside elements to avoid slider glitch
*/
.show-nav {
    overflow: hidden;
}

.show-nav aside,
.show-nav main,
.show-nav .navbar {
    transform: translateX(250px);

    // @media screen and (min-width: 1200px) {
    //     transform: translateX(100vw);
    // }
}

main {
    width: 100%;
    left: 0;
    transition: all .45s;
}

aside {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    background: $bg-color;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    transition: all .45s;

    // @media screen and (min-width: 1200px) {
    //     width: 100vw;
    //     left: -100vw;
    // }

    .navigation__user {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $purple-color;

        &__avatar {
            border-radius: 50%;
            max-width: 60px;
        }

        &__username {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .navigation__list {
        position: relative;
        margin: 0;
        padding: 0;

        a {
            display: flex;
            align-items: center;
            padding: 15px 20px;
            font-size: 0.9rem;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                background: $purple-color;
                img {
                    transform: scale(1.3) rotate(-15deg)
                }
            }
            img {
                width: 24px;
                margin: 0 10px 0 0;
                transition: all 0.2s;
            }
        }
    }

    .navigation__logout {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 25px 0;
        background: $purple-color;
        text-align: center;
        color: $text-color;
        font-weight: bold;
        letter-spacing: 1;
        &:hover {
            background: darken($purple-color, 5%);
            color: $light-golden-color;
        }
    }
}

// Move [SignUp] and [Login] buttons when side menu is opened
.show-nav > .navbar {
    @media screen and (min-width: 992px) {
        width: calc(100vw - 250px)
    }
}