@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Raleway:500,800&display=swap');

@font-face {
    font-family: 'Colus';
    src: url(../fonts/Colus-Regular.otf);
}

$heading: 55px;
$subheading: 36px;
$link: 15px;

@mixin heading {
    font-size: $heading;
    font-family: 'Colus', 'Raleway', sans-serif;
}

.heading {
    @include heading;
    line-height: 1;
}

.subheading {
    font-size: $subheading;
    line-height: 1;

}

.link {
    font-size: $link;
}