@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Raleway:500,800&display=swap');

@font-face {
    font-family: 'Colus';
    src: url('../fonts/Colus-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Colus-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Colus-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Colus-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Colus-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

.heading, .subheading, .subheading--smaller {
    font-family: 'Colus', sans-serif;
    line-height: 1.2;
}

.heading {
    @include fluid-font(40px, 55px, 468px, 1400px); 
    line-height: 1;
}

.subheading {
    @include fluid-font(22px, 34px, 768px, 1400px);
}

.subheading--smaller {
    @include fluid-font(20px, 24px, 768px, 1400px);
}

.subheading--thin {
    @include fluid-font(22px, 34px, 768px, 1400px);
    font-family: 'Raleway',sans-serif; 
}

.caption-text {
    font-size: 0.8rem;
    color: rgba($text-color, 0.7)
}

.circle-number {
    font-family: 'Colus', serif;
    font-size: 1rem;
    line-height: 1;
    padding: 2px 7px;
    margin-top: 2px;
    border: 2px solid $light-golden-color;
    border-radius: 50%;
}

// Color classes
.bold {
    font-weight: bold;
}

.light-golden {
    color: $light-golden-color;
}

.violet {
    color: lighten($violet-color, 10%);
}